@import url(__logo/header__logo.css);

.header {
  width: 100%;
  height: 74px;
  border-bottom: 1px solid #545454;
  padding-top: 45px;
}

@media screen and (max-width: 425px) {
  .header {
    padding-top: 28px;
    height: 56px;
    width: 100vw;
  }
}
